<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layouts/mainLayout">
            
<head>
    <title>Layout</title>
    <!-- <script th:src="@{/js/executeTest.js}" src="../../js/executeTest.js"></script>  -->
</head>
<body>
    <th:block layout:fragment="script">
        <script th:src="@{/js/executeTest.js}" src="../../js/executeTest.js"></script> 
    </th:block>
        <div layout:fragment="content" id = "executeTestMain">
                <h2>Execute Test</h2>
                <!-- <form id = "generatedMutant" class="form-horizontal" th:object="${generatedMutantInfo}" th:action="@{/saveGeneratedMutant}" method="post" > -->
                <div class="form-group">
                    <label class="col-sm-6 control-label">BPMN Mutant Test Item:</label>
                    <div class="col-sm-12">
                        <select class="col-sm-10" id="BPMNMutantModel" th:field="*{BPMNMutantTestItems}">
                            <option th:value="NULL"> -- </option>
                            <option th:each="BPMNMutantTestItem : ${BPMNMutantTestItems}"
                               th:value="${{BPMNMutantTestItem.mutantTestItemId}}"
                               th:utext="${BPMNMutantTestItem.mutantTestItemCode}">
                            </option>
                        </select>
                        
                        <div id = "testResultGridContainer">
                            <br/>
                            <div id = "testResultGrid"></div>
                        </div>
                    </div>
                    <label class="col-sm-6 control-label">Upload Test Case:</label>
                    <div class="col-sm-12">
                        <input id="uploadTestCaseFile" type="file" name="uploadfile" accept="*" />
                    </div>
                    <br/>
                    <div class="col-sm-10" id = "generateMutantcontainer">
                        <!-- <button class="btn btn-default">Possble Mutant</button> -->
                        <button id="excuteTest" class="btn btn-default">Execute Mutant</button>
                        <button id="downloadGeneratedMutant" class="btn btn-default">Download Mutants </button>
                    </div>
                    <!-- <input type="hidden" id="generatedMutantLs" th:field="*{generatedMutantList}" /> -->
                </div>
                <h2>Test Result</h2>
                <div class="form-group"></div>
                    <div class="row justify-content-center" id = "mutantResultGridContainer">
                        <div id = "mutantResultGrid" class="row justify-content-center"></div>
                       
                    </div>
                    
                    <div class="col-sm-10">
                        <input class="btn btn-default btn-sm" type="button" value="Export to Excel" id='excelExport' />
                        <div style="margin-top: 20px" id="showReplaceMutantColumn"></div>
                        <br/>
                        <button id="generateTestReport"  class="btn btn-default">Create Report</button>
                    </div>
                </div>
            <!-- </form> -->
        </div>
</body>
</html>